/* src/components/Challenges/ChallengePage.css */

.challenge-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  @media (max-width: 768px) {
    .challenge-page-container {
      padding: 10px;
    }
  }
  